numpy
pandas
scipy
scikit-learn
tqdm

shapely
pyproj
geopandas
folium
matplotlib
kneed

tables

requests
SQLAlchemy
snowflake-connector-python
pyodbc
mysql-connector-python
clickhouse-connect
cryptography

tabulate
termcolor
fuzzywuzzy
